name: Deploy Storybook to S3

on:
  push:
    branches:
      - main # メインブランチにpushされた時

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@vmain

      - name: Install dependencies
        run: npm install # もしくは yarn install

      - name: Build Storybook
        run: npm run build-storybook # もしくは yarn run build-storybook

      - name: Deploy
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: aws s3 cp --recursive --region ap-northeast-1 storybook-static/ s3://$AWS_S3_BUCKET
